.parent{
    -fx-font-size: 18px;
}

TextField {
    -fx-background-color: -primary-light;
    -fx-cursor: text;
    -fx-text-fill: -text-on-primary;
    -fx-font-family: Pixeboy;
}

Label{
    -fx-font-family: Pixeboy;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: -secondary;   
    -fx-text-fill: -text-on-secondary; 
}

#AnchorPaneBackground{
    -fx-background-color: -primary-dark;
}

#AnchorPaneForeground{
    -fx-background-color: -secondary;
}