.textfield {
    -fx-background-color: -primary-light;
    -fx-cursor: text;
    -fx-font-size: 24px;
    -fx-text-fill: -text-on-primary;
}

Button {
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-background-color: -secondary;
    -fx-text-fill: -text-on-secondary;

    
}

Label{
    -fx-text-fill: -text-on-secondary;
}