.arcade-font {
    -fx-font-family: Pixeboy;
    -fx-font-size: 20px;
}

.title {
    -fx-font-color: -text-on-primary;
    -fx-font-size: 64px;
}

Button {
    -fx-background-color: -secondary;
    -fx-cursor: hand;
    -fx-text-fill: -text-on-secondary;
}

Label{
    -fx-font-family: Pixeboy;
}