Button {
    -fx-font-family: Pixeboy;
    -fx-background-color: -secondary;
    -fx-font-size: 26px;
    -fx-cursor: hand;
    -fx-text-fill: -text-on-secondary;
}

#ExitButton{
    -fx-text-fill: red;
}